.sign-in-page {
  width: 100%;
  height: 100vh;
  background-color: #000;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sign-in-page img {
  width: 100px;
  margin-bottom: 1rem;
}

.sign-in-page input {
  max-width: 80%;
  width: 20rem;
  height: 2.5rem;
  
  padding: 10px;
  cursor: pointer;

  border: 2px solid #ff2748;
  border-radius: 4px;
  
  color: #000;
}

.sign-in-page button {
  max-width: 80%;
  width: 21.5rem;
  height: 2.5rem;

  padding: 10px;
  cursor: pointer;

  border: 0;
  border-radius: 4px;

  background-color: #ff2748;
  color: #fff;
}

.sign-in-page button:hover {
  transform: scale(1.01);
}

.sign-in-page button:active {
  transform: scale(0.99);
}